.btn-success {
    margin: 7px;
}

#addButton, #deleteButton, #updateButton{
    width:35%;
}

#add-loader{
    width:30%;    
}

 #deleteButton, #updateButton{
    width:45%;
}

img{
    width:40%;    
}

@media only screen and (max-width: 1199px) {
    #deleteButton, #updateButton{
        width:100%;
    }
    #updateButton{
        margin-left:0px;
    }
}